@media (max-width: 768px) {
    .container {
        padding: 0 10px !important;
    }

    /* Make table scrollable container apparent */
    div[style*="overflowX: 'auto'"] {
        box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.1);
    }

    /* Adjust font sizes for mobile */
    th,
    td {
        padding: 10px !important;
        font-size: 0.8rem !important;
    }

    h2 {
        font-size: 1.25rem !important;
    }
}